# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.xcodeproj/
!Palet.xcodeproj/
!Palet.xcodeproj/project.pbxproj
!Palet.xcodeproj/project.xcworkspace/
!Palet.xcodeproj/project.xcworkspace/contents.xcworkspacedata
xcuserdata/
*.xccheckout
*.xcscmblueprint
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
